/* Reset default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

/* Style the navigation menu */
.desktop-menu ul {
    list-style: none;
    display: flex;
}

.desktop-menu li {
    margin-right: 20px;
}

.desktop-menu a {
    text-decoration: none;
    color: #333;
}

/* Style the mobile menu */
.mobile-menu {
    display: none;
    background-color: transparent; /* Set the background to transparent */
}

.mobile-menu ul {
    list-style: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.16); /* Add a semi-transparent background for the menu items */
}

.mobile-menu li {
    margin-bottom: 10px;
}

.mobile-menu a {
    text-decoration: none;
    color: #080808;
}

/* Style the mobile menu icon */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    .mobile-menu {
        display: block;
    }
}






main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #040404;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}























/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: bottom;
    padding: 10px;
}