/* Reset some default browser styles */
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}


/* Set a background color for the entire page */
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Head styles */
head {
    background-color: #ffffff;
    color: #0f0e0e;
    padding: 10px;
}

/* Header styles */
header {
    background-color: #ffffff;
    color: #0f0e0e;
    padding: 10px;
}

/* Navigation menu */
nav {
    background-color: #e8e4e4;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
}

/* Main content styles */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Section heading styles */
.section-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}






/* Styles for the slider with text */
.slider-with-text {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
}

/* Styles for the slide container */
.slide-container {
    flex: 1;
    overflow: hidden;
    position: relative;
}

/* Styles for the slides */
.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
}

.slide img {
    max-width: 100%;
    height: auto;
}

/* Styles for navigation buttons */
.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

/* Styles for the text box */
.text-box {
    flex: 0 0 40%;
    padding: 20px;
    background-color: #333;
    color: white;
}

.text-box h2 {
    margin: 0;
}





/* Paragraph text styles */
p {
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Link styles */
a {
    color: #0f0e0e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Responsive styles */
@media (max-width: 768px) {
    /* Styles for screens up to 768px wide */
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    
    nav a {
        display: block;
        padding: 1rem 0;
    }


}